body {
  background-color: #f4f1de;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #3d405b;
  color: #f4f1de;
}

.bio,
.projects {
  margin-bottom: 1em;
}

.photo {
  padding: 1em;
  border-radius: 95%;
  margin-left: auto;
  margin-right: auto;
  filter: sepia(23%);
}
.contacts-link {
  text-decoration: none;
  color: #f2cc8f;
}

.projects-link {
  text-decoration: none;
}

.right-side {
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; */
  padding: 1em;
  color: #3d405b;
}

.bottom-side {
  padding: 1em;
}
